.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_logo {
  margin-top: 20px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px 20px 20px 20px;
}

.login_container > h2 {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 28px;
  margin-top: 0px;
}

.login_container > form > h5 {
  margin-bottom: 0px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border: 1px solid #6666;
  text-indent: 5px;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login_signInButton {
  border-radius: 2px;
  padding: 6px 24px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  background: linear-gradient(to bottom, #ffd489, #f0c14b);
}

.login_registerButton {
  border-radius: 2px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: linear-gradient(to bottom, #f3f2ef, #edece8);
  font-size: 14px;
  text-decoration: none;
}

.login_registerButton a {
  color: #000;
}

.login_registerButton a:hover {
  color: #000;
}

.alert {
  position: absolute;
  padding: 20px;
  border-radius: 8px;
  min-width: 150px;
  min-height: 20px;
  top: 10px;
  right: 0;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: #e44;
  color: #fff;
}
